* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    color: #fff;
    background-color: #f0f2f5;
  }
  
  /* Cabeçalho */
  header {
    background: #2d3e50;
    text-align: center;
    padding: 50px 20px 20px;
    margin-bottom: 20px;
  }
  
  header h1 {
    font-size: 3rem;
    margin-bottom: 10px;
  }
  
  header p {
    font-size: 1.2rem;
  }
  
  /* Conteúdo do perfil */
  .perfil-container {
    max-width: 500px;
    margin: 40px auto;
    padding: 30px;
    text-align: center;
    background-color: #ffffffee;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    color: #2c3e50;
  }
  
  .foto-perfil {
    width: 300px; /* Dobrado de 150px */
    height: 300px; /* Dobrado de 150px */
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 3px solid #2c6185;
  }
  .perfil-container h2 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .perfil-container p {
    font-size: 1.1rem;
    margin-bottom: 20px;
  }
  
  /* Redes sociais */
  .redes-sociais a {
    display: inline-block;
    margin: 0 10px;
    color: #2c6185;
    text-decoration: none;
    font-weight: bold;
    transition: opacity 0.3s ease;
  }
  
  .redes-sociais a:hover {
    opacity: 0.8;
  }
  
  /* Rodapé */
  footer {
    background: #2d3e50;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    font-weight: bold;
  }