* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

/* Cabeçalho */
header {
  background: #2d3e50;
  color: white;
  text-align: center;
  padding: 30px 20px;
}

header h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

header p {
  font-size: 1.2rem;
}

/* Seção da Equipe */
.equipe {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 20px;
}

.membro {
  background-color: #fff;
  width: 250px;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.membro img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 15px;
}

.membro h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #2c3e50;
}

.membro .cargo {
  font-size: 1rem;
  color: #555;
  margin-bottom: 10px;
}

.membro .bio {
  font-size: 0.9rem;
  color: #777;
}

/* Oculta o checkbox */
#menu-toggle {
  display: none;
}

/* Overlay (fundo que fecha o menu ao clicar) */
.overlay {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
  cursor: pointer;
}

/* Mostra o overlay quando o menu estiver aberto */
#menu-toggle:checked~.overlay {
  display: block;
}

/* Botão para abrir a sidebar */
.menu-icon {
  padding: 1rem;

  color: white;
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 2;
  border-radius: 8px;
  transition: opacity 0.3s ease;
  font-size: 1.2rem;
}

/* Some com o botão quando o menu estiver aberto */
#menu-toggle:checked~.menu-icon {
  opacity: 0;
  pointer-events: none;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: -280px;
  width: 280px;
  height: 100%;
  background: linear-gradient(135deg, #2d3e50, #13467c);
  color: white;
  padding: 2rem 1.5rem;
  transition: left 0.4s ease;
  box-shadow: 3px 0 10px rgba(0, 0, 0, 0.2);
  z-index: 3;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

/* Sidebar visível */
#menu-toggle:checked~.sidebar {
  left: 0;
}


.sidebar h2 {
  margin-top: 0;
  font-size: 1.8rem;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin-top: 2rem;
}

.sidebar li {
  margin-bottom: 1.2rem;
}

.sidebar a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  transition: text-shadow 0.2s ease;
}

.sidebar a:hover {
  text-shadow: 0 0 5px white;
}