body {
    font-family: Arial;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

h1 {
    text-align: center;
    color: #2d3e50;
    margin-top: 30px;
}

p {
    text-align: center;
    font-size: 1.2em;
    color: #555;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 50%;
    margin: 20px auto;
}

li {
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 20px;
}

h3 {
    color: #2d3e50;
    font-size: 1.5em;
}

a {
    color: #3498db;
    font-weight: bold;
}
