/* Produtos */
.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px; /* Distância entre os quadrados dos produtos */
  max-width: 1000px;
  margin: 0 auto;
  padding: 30px 20px;
  background-color: #ffffff; /* Cor de fundo alterada */
}

/* Título da seção de produtos */
.products-title {
  text-align: center;
  color: #ffffff; /* Cor do texto alterada para branco */
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.product-card {
  background-color: #2d3e50; /* Mudando a cor de fundo para branco */
  color: #ffffff; /* Mudando a cor do texto para garantir contraste */
  border-radius: 12px; /* Aumentando a borda arredondada */
  padding: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  text-align: center;
  transition: transform 0.3s ease;
  margin-bottom: 20px; /* Garantir que haja espaçamento entre os cartões */
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-card img {
  width: 100%;
  max-width: 300px;
  border-radius: 10px; /* Bordas arredondadas na imagem */
  margin-bottom: 15px;
}

.product-card h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #ffffff; /* Cor do título alterada para escuro, para contraste */
}

.product-card p {
  font-size: 1rem;
  margin-bottom: 10px;
  color: #ffffff; /* Cor do texto alterada para escuro, para contraste */
}

.product-card .price {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 15px;
  color: #ffffff; /* Cor do preço alterada para escuro, para contraste */
}

.product-card button {
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  font-weight: bold;
  background-color: #2c6185;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: opacity 0.3s ease;
  box-sizing: border-box; /* Adicionando a propriedade box-sizing */
}

.product-card button:hover {
  opacity: 0.8;
}

header {
  background: #2d3e50;
  text-align: center;
  padding: 50px 20px 20px;
  margin-bottom: 20px;
}

header h1 {
  font-size: 3rem;
  margin-bottom: 10px;
  color: #ffffff; /* Cor do título alterada para branco */
}

header p.header-subtitle {
  color: #ffffff; /* Cor da legenda alterada para branco */
}

footer {
  background: #2d3e50;
  text-align: center;
  padding: 20px;
  margin-top: 50px;
  font-weight: bold;
  color: #ffffff; /* Cor do texto alterada para branco */
}